@font-face {
    font-family: "Cinzel Regular";
    src: url(../fonts/Cinzel/static/Cinzel-Regular.ttf);
}
@font-face {
    font-family: "Cinzel Bold";
    src: url(../fonts/Cinzel/static/Cinzel-Bold.ttf);
}

body{
    font-family: "Cinzel Regular", sans-serif;
    background-color: rgb(18, 19, 19);
    color: white;
}
h2{
    color: burlywood;
}
/* HEADER */

.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
}
.menu a:hover{
    border-bottom: 1px solid burlywood;
    color:burlywood;
}

/* MAIN - BANNER */

.banner{
    background-image: url(../img/banner.jpg);
    background-position:center;
    background-size: cover ;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
}


.banner img{
    width: 20%;
    z-index: 1;
}

/* MAIN - CYCLE */

.cycle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items:center;
    justify-content: center;
    margin: 30px 200px 20px 200px;
}
.cycle h1{
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 0;
}
.cycle h2{
    margin-top: 5px;
}
.cycle a{
    background-color: burlywood;
    color: black;
    padding: 5px 25px 5px 25px;
    font-weight: 700;
    border-radius: 3px;
    text-decoration: none;
}
.cycle a:hover{
    box-shadow: 1px 1px 5px burlywood;
}
.cycle p{
    text-align: center;
}
/* MAIN - CARD-CONTAINER */
.titre-card{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.card-container{
    display: flex;
    justify-content: space-evenly;
    margin-left: 200px;
    margin-right: 200px;
    transition: 1px 1ms
}

.card-container :hover{
    margin: 1px;
    box-shadow: 1px 1px 5px rgb(56, 56, 55);
}

.card-container .card{
    width: 30%;
    padding-bottom: 10%;
    background-color: rgb(32, 34, 40);
    border-radius: 10px;
    border: 1px solid rgb(56, 56, 55);  
}

.card img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-text{
    margin-left: 20px;
    margin-right: 20px;
    
}

/* MAIN - NEWS*/
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(32, 34, 40);
    margin-top: 30px;
    border: 1px solid rgb(56, 56, 55);
}

.news .btn{
    background-color: rgb(224, 188, 80);
    color: black;
    padding: 10px 20px 10px 20px;
    font-weight: 700;
    border-radius: 5px;

}
.news .btn:hover{
    box-shadow: 1px 1px 5px burlywood;
}


.text-form{
    background-color: rgb(18, 19, 19);
    color: rgb(224, 188, 80);
    padding: 10px 150px 10px 10px;
    border-radius: 5px;
    border: 1px solid rgb(56, 56, 55);
    margin-bottom: 30px;
}
.text-form:hover{
    box-shadow: 1px 1px 3px burlywood;
}

/* FOOTER */
.footer{
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;  
   
}
.menu-footer{
    list-style: none;
    /* margin-right: 100px; */
    display: flex;
    /* align-items: flex-end; */
    /* gap: 100px;   */
    /* Element à rajouter */
    gap: 10px;
    width: 80%;
    justify-content: flex-end;
    align-items: center;
    
    }
.footer img{
    width: 20%;
    margin-bottom: 10px;
    margin-top: 10px;
}   

.menu-footer a{
    text-decoration: none;
    color: white; 
    
}
.menu-footer li{
    width: 30%;
    border-right: 1px solid rgb(56, 56, 55);    
}
.menu-footer :hover{
    color:burlywood;
}
